@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
    font-weight: 200;
    color: #4a5568;
}

h2 {
    color: salmon;
}

a {
    text-decoration: none;
}

nav {
    background-color: #007bff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background: linear-gradient(135deg, #272E34, #222);
    border: none;
    color: white;
    margin: 10px 0;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
}

button:hover {

}

.container-btn-group {
    background: white;
    border-radius: 5px;
    display: inline-block;
    margin: 15px 0;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    width: auto;
}

.container-btn-group:hover {
    background: salmon;
}

.container-btn-group a {
    color: #666;
    text-decoration: none;
    font-weight: 200;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin: 40px auto;
    padding: 20px;
    width: 90%;
}

.top-container {
    width: 90%;
    margin-bottom: 30px;
}

.content-wrapper {
    margin: 0 auto 30px;
    width: 50%;
}

.container,
.container-small{
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 200;
    padding: 30px;
}

.container form div {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
}

.container form div input,
.container form div select {
    width: 48%;
    border: 0;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button a {
    color: white;
}

.container-small button,
.container button {
    margin: 20px 0;
    background: salmon;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container button:hover {
    background: darksalmon;
    transition: all 0.3s ease-in-out;
}

.container-small {
    margin: 30px 0;
    height: 120px;
    width: 100%;
}

select {
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
}

.home-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #ff9800;
    border-radius: 5px;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #e68900;
}

.features {
    margin-top: 40px;
}

.feature {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.feature h2 {
    color: #333;
    font-size: 1.5rem;
}

.feature p {
    color: #555;
}

footer {
    margin-top: 30px;
    font-size: 1rem;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 260px;
    height: 100vh;
    background: linear-gradient(135deg, #272E34, #222);
    /*background: linear-gradient(135deg, #1e3a8a, #2563eb);*/
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sidebar hr {
    border: none;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
    margin: 10px 0;
}

.sidebar .nav {
    padding-left: 0;
}

.sidebar ul.nav li {
    list-style: none;
}

.sidebar .nav-link {
    display: block;
    text-decoration: none;
    align-items: center;
    padding: 20px;
    font-weight: 200;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.arrow {
    color: #888;
    font-size: 16px;
}

.sidebar .nav-link i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar .nav-link:hover {
    background: rgba(255, 255, 255, 0.2);
    font-weight: 300;
    text-decoration: none;
}

.sidebar .nav-link.active {
    background: #cc7066;
    font-weight: 300;
}

.sidebar .mt-auto {
    margin-top: auto;
}

.sidebar .btn-danger {
    background: #dc3545;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

.sidebar .btn-danger:hover {
    background: #b52a37;
}

.sidebar .logout-btn {
    border: 1px solid #666;
    background: #333;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    margin: auto auto 20px;
    font-size: 16px;
    transition: 0.3s;
    width: 50%;
}

.main-content {
    flex: 1;
    margin-left: 260px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
    width: calc(100% - 260px);
}
